---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostsList from "../../components/PostsList.astro";
import Pagination from "../../components/Pagination.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import { kSiteTitle } from "$consts";

interface Props {
  page: Page<number>;
}

const { page }: { page: Page<number> } = Astro.props as Props;

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = await getCollection("blog");

  const postIndexes = Array.from({ length: allPosts.length }, (_, i) => i);

  return paginate(postIndexes, {
    pageSize: 16,
    params: { page: undefined },
    props: {},
  });
};

const offset = (page.currentPage - 1) * page.size;
---

<BaseLayout
  pageTitle={`文章 | ${kSiteTitle}`}
  pageDescription={`${kSiteTitle} 中的文章.`}
>
  <div class="w-full mx-auto py-2">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body space-y-4">
        <div class="flex justify-between items-center">
          <h2 class="card-title text-2xl">全部文章</h2>
          <div class="text-sm text-base-content/70 hidden lg:flex">
            第 {page.currentPage} 页, 共 {page.lastPage} 页 | 显示 {
              offset + 1
            }-{Math.min(offset + page.size, page.total)} 篇, 共 {page.total} 篇
          </div>
        </div>

        <PostsList size={page.size} offset={offset} />

        <Pagination page={page} />
      </div>
    </div>
  </div>
</BaseLayout>
