---
import ThemeIcon from "./ThemeIcon.astro";

const classSmallNavItem = "btn btn-ghost w-16";
import {
  kSiteTitle,
  kSiteIndexTitle,
  kSiteDescription,
  kUrlBase,
} from "$consts";
---

<header
  class="bg-base-100 sticky top-0 z-30 bg-opacity-80 backdrop-blur shadow-lg"
>
  <div class="navbar mx-auto w-full max-w-5xl px-16">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" href={`${kUrlBase}/`}>{kSiteTitle}</a>
    </div>
    <ul class="space-x-2">
      <a class={classSmallNavItem} href={`${kUrlBase}/archive/`}>归档</a>
      <a class={classSmallNavItem} href={`${kUrlBase}/friends/`}>友链</a>
      <a class={classSmallNavItem} href={`${kUrlBase}/about/`}>关于</a>
    </ul>
    <ThemeIcon />
  </div>
</header>
