---
import { kUrlBase } from "$consts";
import { Icon } from "astro-icon/components";

const { page } = Astro.props;

function getPageNumbers(currentPage: number, lastPage: number) {
  const delta = 2;
  const range = [];
  const rangeWithDots = [];

  for (
    let i = Math.max(2, currentPage - delta);
    i <= Math.min(lastPage - 1, currentPage + delta);
    i++
  ) {
    range.push(i);
  }

  if (currentPage - delta > 2) {
    rangeWithDots.push(1, "...");
  } else {
    rangeWithDots.push(1);
  }

  rangeWithDots.push(...range);

  if (currentPage + delta < lastPage - 1) {
    rangeWithDots.push("...", lastPage);
  } else if (lastPage > 1) {
    rangeWithDots.push(lastPage);
  }

  return rangeWithDots;
}

const pageNumbers =
  page.lastPage > 1 ? getPageNumbers(page.currentPage, page.lastPage) : [];

const pageBtnClasses = "join-item btn btn-outline ";
const smallPageBtnClasses = "btn btn-outline btn-sm ";
---

{
  page.lastPage > 1 && (
    <div class="hidden sm:block">
      <div class="flex justify-center mt-8">
        <div class="join">
          <a
            href={page.url.prev}
            class={pageBtnClasses + (page.url.prev ? "" : "btn-disabled")}
          >
            <Icon name="ri:arrow-left-s-line" size="22" />
            上一页
          </a>
          {pageNumbers.map((pageNum) =>
            pageNum === "..." ? (
              <button class={pageBtnClasses + "btn-disabled"}>...</button>
            ) : pageNum === page.currentPage ? (
              <button class={pageBtnClasses + "btn-active"}>{pageNum}</button>
            ) : (
              <a href={`${kUrlBase}/blog/${pageNum}/`} class={pageBtnClasses}>
                {pageNum}
              </a>
            )
          )}
          <a
            href={page.url.next}
            class={pageBtnClasses + (page.url.next ? "" : "btn-disabled")}
          >
            下一页
            <Icon name="ri:arrow-right-s-line" size="22" />
          </a>
        </div>
      </div>
    </div>
  )
}

<div class="flex justify-between mt-4 sm:hidden">
  <a
    href={page.url.prev}
    class={smallPageBtnClasses + (page.url.prev ? "" : "btn-disabled")}
  >
    <Icon name="ri:arrow-left-s-line" size="16" />
    上一页
  </a>

  <span class="flex items-center text-sm">
    {page.currentPage} / {page.lastPage}
  </span>

  <a
    href={page.url.next}
    class={smallPageBtnClasses + (page.url.next ? "" : "btn-disabled")}
  >
    下一页
    <Icon name="ri:arrow-right-s-line" size="16" />
  </a>
</div>
