---
import { kSiteOwner, kSocialLinks, kUrlBase } from "$consts";
import { Icon } from "astro-icon/components";
---

<div class="card card-compact bg-base-100 shadow-xl">
  <figure>
    <img
      class="object-cover h-48"
      src=`${kUrlBase}/profile-banner.png`
      alt="Avatar"
    />
  </figure>
  <div class="card-body text-center m-2 space-y-2">
    <p class="text-lg font-bold">{kSiteOwner}</p>
    <p class="">玩电脑脑子玩坏了.</p>
    <div class="grid grid-cols-2 gap-3">
      {
        kSocialLinks.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class="hover:text-primary flex justify-center"
          >
            <button class="btn btn-ghost w-full btn-sm">
              <Icon name={link.icon} size="20px" />
              <p>{link.name}</p>
            </button>
          </a>
        ))
      }
    </div>
  </div>
</div>
